h1 {
    color:#d7f1e0;
    text-align: center;
   /*tamaño de la fuente*/
    font-size: 60px;
    text-align: center;
    overflow: hidden;
    /*color de fondo*/
    background-color: #2d6a4f;
}

img {
    /*tamaño de la imagen*/
    width: 50%;
    /*centrar la imagen*/
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 30px;
    /* Establece la imagen de fondo */
    background-image: url('https://s3.abcstatics.com/media/bienestar/2021/02/23/aceitunas-kyOG--620x349@abc.jpg');
    /* Establece el tamaño de la imagen de fondo para cubrir toda la pantalla */
    background-size: cover;
    /* Establece la posición de la imagen de fondo en el centro */
    background-position: center center;
    /* Fija la imagen de fondo para que no se desplace con el contenido */
    background-attachment: fixed;
}
img {
    border-radius: 5%;
}

ul {
    /*quitar los puntos de la lista*/
    list-style-type: none;
    /*quitar el margen y el padding*/
    margin: 0;
    padding : 0;
    /*quiero que el ul tenga un tamaño determinado*/
    text-align: center;
    overflow: hidden;
    background-color: #d7f1e0;
    color:#d7f1e0;
    text-align: center;
   /*tamaño de la fuente*/
    font-size: 60px;
    text-align: center;
    overflow: hidden;
    /*color de fondo*/
    background-color: #2d6a4f;
}

/* style.css */

.nav-link {
    text-decoration: none; /* Quita el subrayado del enlace */
    font-size: 30px; /* Cambia el tamaño del texto */
    color: #d7f1e0; /* Cambia el color del texto */
    font-weight: bold; /* Aplica un peso de fuente en negrita */
    margin-left: 100px 100px; /* Establece la separación entre enlaces */
    background-color: #2d6a4f;/*color de fondo*/
    position: relative;
  }
  
  .nav-link:hover {
    color: #FF5733; /* Cambia el color del texto al pasar el ratón por encima del enlace */
  }
  