html 
    head 
        link(rel='stylesheet' , href='/css/style.css') 
        title LMLA 
    body 
        nav
            a(href='/' class='nav-link') Home
            br
            a(href='/aceitunas' class='nav-link') Tipos de aceitunas
            br
            a(href='/login' class='nav-link') Login
            br
            a(href='/logout' class='nav-link') Logout
        block content

        script(type="module", src="/js/layout.js")
        block script

        
